<form class="reg-form flex flex-col gap-y-2.5 max-w-2xl mx-auto my-0" action="#">
  <div class="reg-form__row flex flex-col gap-y-1">
    <label class="reg-form__label" for="email">Email</label>
  </div>
  <div class="reg-form__row flex flex-col gap-y-1">
    <label class="reg-form__label" for="password">Password</label>
  </div>
  <div class="reg-form__row flex flex-col gap-y-1">
    <label class="reg-form__label" for="first-name">First name</label>
  </div>
  <div class="reg-form__row flex flex-col gap-y-1">
    <label class="reg-form__label" for="last-name">Last name</label>
  </div>
  <div class="reg-form__row flex flex-col gap-y-1">
    <label class="reg-form__label" for="birth-date">Date of birth</label>
  </div>
  <div class="reg-form__row flex flex-col gap-y-1">
    <label class="reg-form__label" for="street">Street</label>
  </div>
  <div class="reg-form__row flex flex-col gap-y-1">
    <label class="reg-form__label" for="city">City</label>
  </div>
  <div class="reg-form__row flex flex-col gap-y-1">
    <label class="reg-form__label" for="postal-code">Postal code</label>
  </div>
  <div class="reg-form__row flex flex-col gap-y-1">
    <label class="reg-form__label" for="countries">Country</label>
  </div>
  <button class="reg-form__button p-1.5 text-white bg-black" type="submit">Sign Up</button>
</form>
