<div class="text-center mt-0 m-auto p-2 md:p-8 max-w-6xl flex flex-col gap-y-4 text-gray-600">
  <div class="flex gap-x-4 flex-col md:flex-row">
    <div id="product-pictures"></div>
    <div class="text-left w-full flex flex-col gap-y-4">
      <h3 class="text-4xl font-bold" id="product-name"></h3>
      <div class="text-xl font-bold border-b-2 py-3 flex flex-row gap-x-2" id="product-category"></div>
      <div>
        <label for="amount">Quantity</label>
        <input
          type="number"
          class="rounded-lg w-16 bg-slate-300 h-10 px-2 outline-none"
          id="amount"
          value="1"
          min="1"
          max="100"
        />
      </div>
      <div id="product-price" class="text-xl"></div>
      <div class="flex flex-row justify-between">
        <div class="text-left" id="product-details"></div>
        <div class="flex flex-col gap-x-2 gap-y-2">
          <button
            class="px-6 pt-3 pb-3 w-48 rounded-lg font-medium text-center text-white transition-colors duration-300 bg-blue-900 hover:bg-blue-400"
          >
            Buy it now
          </button>
          <button
            class="px-6 pt-3 pb-3 w-48 bg-red-600 rounded-lg font-medium text-center text-white transition-colors duration-300 hover:bg-red-700"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-left" id="product-description"></div>
</div>
