<div
  class="text-center mt-4 mb-4 m-auto max-w-6xl flex flex-col gap-y-4 text-gray-600 max-w-6xl px-5 md:px-7"
  id="product-wrapper"
>
  <div class="relative flex gap-x-4 flex-col lg:flex-row mx-auto">
    <div
      class="flex self-center lg:self-start select-none max-w-[300px] lg:max-w-[600px] md:max-w-[680px] sm:max-w-[580px] min-[500px]:max-w-[440px] min-[450px]:max-w-[390px]"
      id="slider-component"
    ></div>
    <div class="text-left w-full flex flex-col gap-y-4">
      <h3 class="text-4xl font-bold" id="product-name"></h3>
      <div class="text-xl font-bold border-b-2 py-3 flex flex-row flex-wrap gap-x-2" id="product-category"></div>
      <div>
        <label for="amount">Quantity</label>
        <input
          type="number"
          class="rounded-lg w-16 bg-slate-300 h-10 px-2 outline-none"
          id="amount"
          value="1"
          min="1"
          max="100"
        />
      </div>
      <div class="flex flex-col self-start items-end">
        <div id="product-price" class="text-xl"></div>
        <div id="original-price" class="text-xl text-red-600 line-through"></div>
      </div>
      <div class="flex flex-row justify-between gap-x-2">
        <div class="text-left" id="product-details"></div>
        <div class="flex flex-col gap-x-2 gap-y-2">
          <button
            class="px-6 pt-3 pb-3 w-48 bg-red-600 rounded-lg font-medium text-center text-white transition-colors duration-300 hover:bg-red-700"
            id="add-button"
          >
            Add to cart
          </button>
          <button
            class="px-6 pt-3 pb-3 w-48 rounded-lg font-medium text-center text-white transition-colors duration-300 bg-blue-900 line-through"
            id="remove-button"
          >
            Remove from Cart
          </button>
        </div>
      </div>
      <div class="text-left" id="product-description"></div>
    </div>
  </div>
</div>
