<div class="fixed z-50 flex items-center w-full h-full bg-black/50">
  <article
    class="flex flex-col gap-y-7 w-full mx-auto p-7 border-y-2 border-gray-400 bg-white overflow-hidden md:max-w-2xl md:border-x-2 md:rounded-xl"
    data-modal-content
  >
    <h2 class="flex items-center gap-x-3 mb-2 text-4xl font-bold whitespace-nowrap">Change Password</h2>
    <div class="flex flex-col gap-x-1" data-row-modal-password>
      <label
        class="min-w-[110px] mt-1 mr-2 text-lg text-gray-600 font-semibold"
        for="old-password"
        data-label-modal-password
        >Old password</label
      >
    </div>
    <div class="flex flex-col gap-x-1 mb-3" data-row-modal-password>
      <label
        class="min-w-[110px] mt-1 mr-2 text-lg text-gray-600 font-semibold"
        for="new-password"
        data-label-modal-password
        >New password</label
      >
    </div>
    <div
      class="p-2 font-bold text-lime-600 text-center bg-lime-200 hidden md:rounded-lg group-data-[success=true]/buttons:block"
    >
      New password saved!
    </div>
    <div
      class="hidden p-2 font-bold text-red-600 text-center bg-red-200 md:rounded-lg group-data-[error=true]/buttons:block"
    ></div>
    <div class="flex justify-end md:gap-x-3">
      <button
        class="flex-grow basis-1/2 px-3 py-1 text-lg font-bold text-white border-r border-gray-500 bg-red-600 transition-colors duration-300 hover:bg-red-400 md:border-r-0 md:rounded-lg"
        type="button"
        data-cancel-button
      >
        Cancel
      </button>
      <button
        class="flex-grow basis-1/2 px-3 py-1 text-lg font-bold text-white border-l border-gray-500 bg-blue-900 transition-colors duration-300 hover:bg-blue-400 md:border-l-0 md:rounded-lg"
        type="button"
        data-save-button
      >
        Save
      </button>
    </div>
  </article>
</div>
