<section
  class="group/cart flex-grow flex flex-col w-full max-w-6xl mx-auto px-5 py-7 md:px-7"
  data-filled="false"
  data-loaded="false"
>
  <div class="flex-grow flex flex-col justify-center gap-y-3 w-full group-data-[loaded=false]/cart:hidden">
    <div class="flex justify-between items-end mb-3 pb-3 border-b border-stone-300">
      <h2 class="text-4xl text-gray-600 font-medium">Your Cart</h2>
      <button
        class="px-3 py-1 text-lg font-bold text-white rounded-lg bg-red-600 transition-colors duration-300 hover:bg-red-800 group-data-[filled=false]/cart:hidden"
        type="button"
        data-show-modal-button
      >
        Clear Cart
      </button>
    </div>
    <ul class="flex-grow flex flex-col gap-y-7 group-data-[filled=false]/cart:hidden" data-products-list></ul>
    <div
      class="flex-grow inline-flex flex-col justify-center items-center mx-auto group-data-[filled=true]/cart:hidden"
    >
      <p class="text-2xl text-gray-600 text-center">It looks like you haven't chosen any cars yet.</p>
      <p class="mb-4 text-2xl text-gray-600 text-center">But you can do it on the category pages!</p>
      <ul class="flex flex-col justify-center gap-y-4 w-full" data-links-list></ul>
    </div>
    <div
      class="flex flex-col items-end gap-y-3 pt-5 mt-3 border-t border-stone-300 group-data-[filled=false]/cart:hidden md:flex-row-reverse md:justify-between md:items-center"
    >
      <p class="text-3xl font-medium text-right">
        Total price: <span class="font-bold text-gray-800" data-total-price></span>
      </p>
      <div class="relative flex gap-x-2 w-full md:w-auto">
        <input
          class="w-full h-12 pl-2.5 pr-10 rounded-lg bg-slate-300"
          type="text"
          placeholder="Enter a promo code"
          data-promo-input
        />
        <button
          class="p-2 text-lg font-bold text-white rounded-lg bg-blue-900 transition-colors duration-300 hover:bg-blue-400"
          data-promo-button
        >
          Apply
        </button>
        <div
          class="absolute left-0 top-0 z-50 flex justify-center items-center px-5 w-full h-full font-bold text-lime-600 rounded-lg bg-lime-200 md:justify-start hidden"
          data-promo-success
        >
          Success!
        </div>
        <div
          class="absolute left-0 top-0 z-50 flex justify-center items-center px-5 w-full h-full font-bold text-red-600 rounded-lg bg-red-200 md:justify-start hidden"
          data-promo-error
        >
          Operation error. Please, try later.
        </div>
      </div>
    </div>
    <div class="fixed top-0 left-0 z-50 flex items-center w-full h-full bg-black/50 hidden" data-cart-modal>
      <div
        class="flex flex-col gap-y-7 max-w-sm mx-auto p-5 border-2 border-gray-400 rounded-xl bg-white overflow-hidden"
        data-cart-modal-body
      >
        <h3 class="mb-2 text-3xl font-bold text-center">Are you sure you want to clear your cart?</h3>
        <div class="hideen mb-1 p-2 text-red-600 bg-red-200 rounded-lg" data-modal-error></div>
        <div class="flex gap-x-2">
          <button
            class="flex-grow flex justify-center p-1 text-green-600 border-2 border-green-600 rounded-lg transition-colors duration-300 hover:text-white hover:bg-green-600 disabled:text-green-600/50 disabled:border-green-600/50 disabled:hover:bg-white group-data-[error=true]/quantity:hidden"
            type="button"
            data-clear-button
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
          </button>
          <button
            class="flex-grow flex justify-center p-1 text-red-600 border-2 border-red-600 rounded-lg transition-colors duration-300 hover:text-white hover:bg-red-600 group-data-[error=true]/quantity:hidden"
            type="button"
            data-cancel-button
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <p class="flex-grow flex justify-center items-center text-2xl text-gray-600 group-data-[loaded=true]/cart:hidden">
    Loading...
  </p>
</section>
