<section
  class="group/addresses flex flex-col gap-y-3 py-5 border-y-2 border-gray-400 md:border-x-2 md:rounded-xl"
  data-have-default="false"
>
  <h2 class="flex items-center gap-x-3 mb-2 px-5 text-4xl font-bold whitespace-nowrap" data-addresses-title>
    Addresses
  </h2>
  <p
    class="-mb-3 px-5 text-xl font-medium border-y bg-blue-50 hidden group-data-[have-default=true]/addresses:block lg:block lg:invisible lg:group-data-[have-default=true]/addresses:visible"
  >
    Default
  </p>
  <ul data-addresses-list></ul>
</section>
