<!-- 
    bg-white w-3/4 h-2/4 text-center m-auto top-1/4 bottom-1/4 left-1/4 right-1/4 max-w-md
    flex flex-col gap-8 py-12
    text-4xl mb-8
    bg-slate-300 w-full h-12 px-2.5 pr-10
    relative
    w-6 absolute right-3 top-3
    flex flex-col gap-6 mt-8
    w-full m-auto bg-red-600 h-12 text-white hover:bg-red-400 transition-all duration-500
    w-full m-auto bg-orange-600 h-12 text-white hover:bg-orange-400 transition-all duration-500
    w-full m-auto h-12 border-2 border-blue-900 text-blue-900 hover:bg-blue-900 hover:text-white transition-all duration-500
    text-red-800 text-base hidden absolute
-->
