<section class="w-full max-w-6xl p-5 mx-auto mb-4 md:px-7" x-data="CategoryInfo()">
  <!-- Sceleton loading -->
  <template x-if="isLoading">
    <div data-element="sceleton">
      <div class="animate-pulse bg-slate-200 h-[40px] rounded-lg max-w-xs mb-2"></div>
      <div class="animate-pulse bg-slate-200 h-[50px] rounded-lg mb-10"></div>
      <div class="flex gap-4 mb-7">
        <div class="animate-pulse bg-slate-200 h-[100px] w-[150px] rounded-lg"></div>
        <div class="animate-pulse bg-slate-200 flex-grow rounded-lg"></div>
      </div>
      <div class="flex gap-4 mb-7">
        <div class="animate-pulse bg-slate-200 h-[100px] w-[150px] rounded-lg"></div>
        <div class="animate-pulse bg-slate-200 flex-grow rounded-lg"></div>
      </div>
      <div class="flex gap-4">
        <div class="animate-pulse bg-slate-200 h-[100px] w-[150px] rounded-lg"></div>
        <div class="animate-pulse bg-slate-200 flex-grow rounded-lg"></div>
      </div>
    </div>
  </template>

  <template x-if="!isLoading">
    <div>
      <div class="mb-10">
        <h1 class="pb-3 mb-3 text-4xl text-gray-600 font-medium border-b border-stone-300" x-text="title"></h1>
        <p class="text-sm text-gray-500" x-text="description"></p>
      </div>

      <div class="grid gap-7" data-element="product-grid">
        <template x-for="item in products" :key="item.id">
          <a
            class="group grid md:grid-cols-[300px_1fr] gap-6 p-4 border border-gray-200 rounded-lg text-gray-600 bg-white transition-all duration-300 hover:drop-shadow-md hover:border-gray-300"
            :href="item.link"
            @click="route($event)"
          >
            <div class="relative h-screen max-h-64 sm:max-h-80 md:h-auto md:max-h-none">
              <img class="absolute w-full h-full object-cover rounded-lg" :src="item.image" />
            </div>

            <div class="relative">
              <span
                class="absolute top-0 right-1 text-sm font-medium text-red-600"
                :class="{ '!text-green-600': item.onStock }"
                x-text="item.onStock ? 'On stock': 'Out of stock'"
              ></span>
              <h2 class="pr-28 mb-3 font-medium text-2xl" x-text="item.name"></h2>
              <p class="mb-3 text-sm line-clamp-4 text-gray-400" x-text="item.description"></p>

              <template x-if="item.attributes.length">
                <div
                  class="flex flex-wrap gap-3 items-center mb-3 opacity-80 transition-opacity duration-300 group-hover:opacity-100"
                >
                  <template x-for="attr in item.attributes">
                    <div
                      class="flex gap-1 items-center px-3 py-1 text-xs bg-blue-100/50 border border-blue-400 text-gray-900 font-normal rounded-lg capitalize transition-colors duration-300 hover:bg-red-300/50 hover:border-red-300"
                    >
                      <span class="after:content-[':']" x-text="attr.name"></span>
                      <span x-text="attr.value.label ? attr.value.label : attr.value"></span>
                    </div>
                  </template>
                </div>
              </template>

              <div class="flex justify-between items-center pt-4">
                <div class="flex gap-2 items-center">
                  <div
                    class="text-lg font-medium text-gray-800"
                    :class="{ 'text-sm opacity-50 line-through': item.discount }"
                  >
                    <span x-text="priceConverter(item.price)"></span>
                    <span class="text-sm text-gray-500" x-text="item.currency"></span>
                  </div>

                  <template x-if="item.discount">
                    <div class="text-lg font-medium text-gray-800 before:content-['/']">
                      <span x-text="priceConverter(item.discount)"></span>
                      <span class="text-sm text-gray-500" x-text="item.currency"></span>
                    </div>
                  </template>
                </div>

                <span
                  class="text-sm text-blue-700 underline underline-offset-2 opacity-70 transition-all duration-300 group-hover:opacity-100 hover:text-red-600"
                  >More information</span
                >
              </div>
            </div>
          </a>
        </template>
      </div>
    </div>
  </template>
</section>
