<div class="absolute bg-black/50 w-full h-full z-50 flex flex-row justify-center align-center">
  <div class="bg-white/100 m-auto w-[90vw] h-[90vh]">
    <div class="relative" id="close-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="absolute right-0 right-0 w-9 h-9 rounded-3xl hover:bg-slate-200"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </div>
  </div>
</div>
