<div class="flex flex-col gap-y-6">
  <h3 class="flex items-center gap-x-3 text-4xl font-bold whitespace-nowrap" data-title-reg>User Info</h3>
  <div class="flex flex-col gap-y-1" data-row-reg>
    <label for="email" data-label-reg>Email</label>
  </div>
  <div class="flex flex-col gap-y-1" data-row-reg>
    <label for="password" data-label-reg>Password</label>
  </div>
  <div class="flex flex-col gap-y-1" data-row-reg>
    <label for="first-name" data-label-reg>First name</label>
  </div>
  <div class="flex flex-col gap-y-1" data-row-reg>
    <label for="last-name" data-label-reg>Last name</label>
  </div>
  <div class="flex flex-col gap-y-1" data-row-reg>
    <label for="birth-date" data-label-reg>Date of birth</label>
  </div>
  <div class="flex flex-col gap-y-1" data-row-reg>
    <label for="countries" data-label-reg>Country</label>
  </div>
</div>
