<!-- Main section -->
<section
  class="relative h-72 text-white bg-center bg-no-repeat md:h-96 lg:bg-cover before:absolute before:top-0 before:right-0 before:bottom-0 before:left-0 before:bg-black/40"
  data-element="main-banner"
>
  <div class="relative flex flex-col gap-5 justify-center h-full mx-auto px-5 max-w-6xl md:px-7">
    <div class="font-bold text-2xl md:text-5xl">Cars for sale</div>
    <div class="text-sm tracking-widest md:text-base md:max-w-[695px]">
      Check out our extensive range of cars, all of them have been carefully prepared. We will be happy to help you
      choose the car of your dreams.
    </div>
  </div>
</section>

<!-- Info banner -->
<section class="grid gap-6 max-w-6xl my-12 mx-auto text-center p-5 md:grid-cols-3 md:px-7" data-element="info-banner">
  <div class="pt-4 px-4 pb-6 bg-blue-100/50 rounded-lg">
    <svg
      class="w-10 h-10 my-0 mx-auto mb-1 opacity-80"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <div>
      <div class="mb-2 font-medium text-blue-600 text-lg">Money back guarantee</div>
      <div class="text-sm opacity-80 tracking-wider">
        If you don't fall in love with the vehicle, simply return it to us.
      </div>
    </div>
  </div>
  <div class="pt-4 px-4 pb-6 bg-blue-100/50 rounded-lg">
    <svg
      class="w-10 h-10 my-0 mx-auto mb-1 opacity-80"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z"
      />
    </svg>
    <div>
      <div class="mb-2 font-medium text-blue-600 text-lg">Safe purchase</div>
      <div class="text-sm opacity-80 tracking-wider">We guarantee the technical condition of every vehicle sold.</div>
    </div>
  </div>
  <div class="pt-4 px-4 pb-6 bg-blue-100/50 rounded-lg">
    <svg
      class="w-10 h-10 my-0 mx-auto mb-1 opacity-80"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
      />
    </svg>
    <div>
      <div class="mb-2 font-medium text-blue-600 text-lg">Month warranty</div>
      <div class="text-sm opacity-80 tracking-wider">In addition, with every car you receive an extended warranty.</div>
    </div>
  </div>
</section>

<!-- Double banner block -->
<section
  class="grid text-gray-600 leading-7 tracking-widest lg:text-lg 2xl:leading-10 2xl:text-2xl"
  data-element="home-double-banner-block"
>
  <div class="grid md:grid-cols-2">
    <div class="h-64 bg-center bg-cover lg:h-96 2xl:h-[500px]"
         data-element="info-banner-1"></div>
    <div class="flex items-center justify-center p-10">
      <div>
        <b>Welcome to the TrueCar auto shop!</b> We have a wide range of cars for sale. Our goal is to make the purchase
        of your car simple and relaxed. You can be sure that you will receive a favorable offer.
      </div>
    </div>
  </div>

  <div class="grid md:grid-cols-2">
    <div class="h-64 bg-center bg-cover md:order-1 lg:h-96 2xl:h-[500px]"
         data-element="info-banner-2"></div>
    <div class="flex items-center justify-center p-10">
      Check out our extensive range of cars, all of them have been carefully prepared.
    </div>
  </div>
</section>
